* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
a {
    color: inherit;
    text-decoration: none;
}
.medsos {
    padding: 5px 0px;
    background-color: blue;
}
.medsos ul li {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}
.container {
    margin:0px auto;
    position: sticky;
}
.container::after {
    content: '';
    display: block;
    clear: both;
}
header h1 {
    float: left;
    padding:15px 0px ;
    color:chartreuse;
    position: sticky;
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding: 25px 20px;
    display:inline-block ;
}
header ul li a:hover {
    background-color: blue;
    color: #fff;
}
    .active {
        background-color: blue;
        color: #fff;
    }
    .banner {
        height: 60vh;
        background-image: url('../img/banner.jpg');
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }    
.banner:after {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: rgba(20, 143, 119,.6);
}    
.banner h2 {
    color: #fff;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid;
}
section {
    padding: 50px 0;
}
section h3 {
    text-align: center;
    padding: 20px 0px;
    color: rgb(80, 139, 20);
    margin-bottom: 20px;
}
.about, .service {
    padding-bottom:200px ;
}
.about p {
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
    position:absolute;
    right: 30px;
    left: 10px ;
}
.service {
    background-color: #f9f9f9;
}
.box {
    color: rgb(65, 124, 5) ;
}
.box::after {
    content: '';
    display: block;
    clear: both;
}
.box .col-4 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0px;
    width: 250px;

}
.icon {
    width: 70px;
    height: 70px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    margin: 0 auto;
    
}
.icon::hover {
      background-color: lawngreen;
      
}
.col-4 {
    display: inline;
    float: left;
    text-align: center;
}
.box .col-4 h4 {
    margin: 20px 0;
}

footer {
    padding: 30px 0;
    background-color: #333;
    text-align: center;
    color: #fff;
}
.label {
    background-color: rgb(81, 156, 5);
    color: #fff;
}